<% provide(:title, 'About Us') %>
<h1>About Us</h1>
<p>
  The Connect The Dots Project was created to give individuals an outlet to express their problems and receive support from fellow peers. This was inspired by our own experiences within the bay area private school system. We hope that others will find use in this tool and discover ways to thrive in their communities.
</p>