<% provide(:title, 'About Us') %>
<h1>About Us</h1>
<p>
  The Connect The Dots Project was created to give individuals an outlet to express their problems and receive support from fellow peers.
  This was inspired by our own experiences within the bay area private school system.
  We hope that others will find use in this tool and continue to thrive in their communities.
 <br><br>
  Connect the Dots is about students in private school that consider themselves as the minority.
  This social media allows student to connect with people who share the same experiences. Students
  not only can share their experiences but can help others with their struggles.
added a picture on the homepage. Removed rails link at the bottom
</p>