<% provide(:title, 'About Us') %>
<h1>About Us</h1>
<p>
  The Connect The Dots Project is about students in private school that consider themselves as the minority group.
  This social media allows student to connect with people who share the same experiences. Students
  not only can share their experiences but can help others with their struggles. This was inspired by our own
  experiences within the bay area private school system.  We hope that members of the Connect the Dots network will find
  use in this tool and continue to thrive in their Private School communities.
</p>