<% provide(:title, 'Code Of Conduct') %>
<h1>Code of Conduct</h1>
<p>
	This is the Code of Conduct. All users of this website must follow these rules in order to be a qualified user. Consequences will be given to those who do not follow these rules. Please read carfully.
	</p>
	 <ul>
	<li>All information needed for your account <strong>must be valid.</strong></li>
	<li><strong>No tolerance for Cyberbullying.</strong></li>
	<li>Any inappropriate behavior on a account <strong>must be flagged.</strong></li>
  </ul>
