<% provide(:title, 'Code Of Conduct') %>
<h1>Code of Conduct</h1>
<p>
	This is the Code of Conduct. All users of this website must follow these rules in order to be a qualified user. Consequence will be given to those who do not follow these rules. Please read carfully.
	</p>
	<li>All infotmation need for you account must be valid.</li>
	<li>No tolerance for Cyberbullying.</li>
	<li>Any inappropriate behavior/account must be flagged.</li>
