<% provide(:title, 'Help') %>
<h1>Need Immediate Assistance?</h1>
<p>
  Get Help Dealing with Problems and Find Helpful Solutions at:<br>
  <a href="http://www.youthlinesf.org/">YouthLineSF</a><br><a href="http://www.helpguide.org/">TeenHelp Guide</a> <br>
  <a href=" http://www.kidshelp.com.au/teens/">Kids Help</a><br> <a href="https://www.hospicenet.org/html/teenager.html"> Help with Grief</a>.

