<h1>StaticPages#home</h1>
<p>Find me in app/views/static_pages/home.html.erb</p>

<% if logged_in? %>
	<%= render 'posts/form' %>
<% else %>
  <div class="center hero-unit">

    <%= image_tag("connecthedots_homea.gif", alt: "Connect The Dots") %>
    <h1>Share your experiences here </h1>
    <h2>
      This is a site for African-American youth that attend private school and would like to share their experiences with others.
    </h2>

   <p><%= link_to "Sign up now!", signup_path %></p>

  </div>
  
<% end %>
