<footer class="footer">
  <small>
    <%= link_to "Connect the Dots",   root_path %>
    by CTD Inc.
  </small>
  <nav>
    <ul>
      <li><%= link_to "About",   about_path %></li>
    </ul>
  </nav>
</footer>